*{
    margin: 0;
    padding: 0;
}
html{
    background: #eeeeee;
    font-size: 10px;
}
li{
    list-style: none;
}
.root{
    width: 100%;
}
header{
    width: 100%;
    height: 8rem;
    background: #ffffff;
}
.header-box{
    width: 80%;
    height: 8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo{
    min-width:180px;
    min-height: 60px;
    margin-right: 4rem;
    /*background: coral;*/
    /*color: #ffffff;*/
    color: coral;
    font-size: 4rem;
    text-align: center;
    line-height: 60px;
}
.main-nav{
    height: 100%;
    flex: 1 0 auto;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.main-nav-item{
    display: flex;
}
.nav-main-list{
    display: flex;
}
.list-item{
    color: #2B2B2B;
    font-size: 2rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
.main-nav-login{
    display: flex;
}
.login-box{
    height: 6rem;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-show{
    display: none;
}
.container{
    width: 100%;
}
.container-header{
    width: 100%;
    height: 400px;
    background: #cccccc;
}
.content{
    width: 80%;
    padding: 4rem 2rem;
    margin: 0 auto;
    background: #ffffff;
}
.content-box{
    margin-bottom: 2rem;
    width: 100%;
}
/* 内容一 */
.content-box1{
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.content-box1-text{
    width: 50%;
    background: #EA4335;
    border-radius: .5rem;
    /* 限制最小宽度 */
    min-width: 600px; 
}
.content-box1-img{
    width: 40%;
    /* 限制最小宽度 */
    min-width: 500px;
}
.img-radius{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: #4285F4;
}

/* 内容二 */
.content-box2{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-box2-text{
    width: 30%;
    height: 200px;
    background: #FBBC05;
    border-radius: .5rem;
    /* 限制最小宽度 */
    min-width: 300px;
}

/* 内容三 */
.content-box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content-box3-text{
    width: 30%;
    height: 300px;
    margin: 1rem 1rem;
    background: #34A853;
    border-radius: .5rem;
    /* 限制最小宽度 */
    min-width: 250px;
}

footer{
    width: 100%;
    height: 120px;
    background: #2B2B2B;
}

@media screen and (max-width: 1280px) {
     /* 内容一  */
    .content-box1{
        flex-wrap: wrap;
        height: 650px;
    }
    .content-box1-text{
        width: 90%;
        margin: 0 auto;
    }
    .content-box1-img{
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
    /* 内容二 */
    .content-box2{
        height: 400px;
    }
    .content-box2-text{
        height: 300px;
        min-width: 200px;
    }

    /* 内容三 */
    .content-box3{
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-box{
        width: 90%;
    }
    .logo{
        min-width: 160px;
        margin-right: 2rem;
    }
    .login-box{
        padding: 0 2rem;
    }
    .content{
        width: 90%;
    }
    .list-item{
        padding: 0 1.5rem;
    } 
    /* 内容二 */
    .content-box2{
        height: 900px;
        flex-wrap: wrap;
        width: 100%;
    }
    .content-box2-text{
        width: 90%;
        margin: 0 auto;
    }
    /* 内容三 */
    .content-box3{
        justify-content: space-around;
    }
}

@media screen and (max-width: 767px) {
    .header-box{
        width: 90%;
        position: relative;
    }
    .logo{
        min-width: 160px;
        margin-right: 2rem;
    }
    .login-box{
        padding: 0 2rem;
        font-size: 1.5rem;
    }
    .content{
        width: 90%;
    }
    .list-item{
        padding: 0 1.5rem;
    } 
    /* 内容一 */
    .content-box1-text{
        min-width: 90%;
    }
    /* 内容二 */
    .content-box2{
        height: 900px;
        flex-wrap: wrap;
        width: 100%;
    }
    .content-box2-text{
        width: 90%;
        margin: 0 auto;
    }
    /* 内容三 */
    .content-box3{
        justify-content: space-around;
    }

    /* 手机端样式 */
    .main-nav-item{
        display: none;
        position: absolute;
        width: 10rem;
        right: 0;
        top: 8rem;
        border-radius: 0 0 .5rem .5rem;
    }
    .nav-main-list{
        width: 100%;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0 0 .5rem .5rem;
    }
    .list-item{
        width: 100%;
        margin: 0 1rem;
        border-bottom: 1px solid #eeeeee;
    }
    .phone-show{
        display: block;
        height: 60px;
        width: 60px;
    }
    .nav-btn{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nav-btn span{
        display: inline-block;
        height: 10px;
        width: 60px;
        background: coral;
    }
}
@media screen and (max-width: 414px){
    .content-box1-img{
        min-width: 100%;
    }
}
@media screen and (max-width: 375px){
    .logo{
        min-width: 100px;
        min-height: 40px;
        margin-right: 1rem;
        font-size: 3rem;
    }
    .login-box {
        padding: 0 1rem;
    }
    .phone-show{
        height: 40px;
        width: 40px;
    }
    .nav-btn span{
        width: 40px;
        height: 5px;
    }
    .list-item{
        font-size: 1.5rem;
    }
    .content{
        padding: 4rem 0;
    }
    .content-box2-text{
        min-width: 100%;
    }
}